/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-typography{ 
    height: 100%;
    background: linear-gradient(to left, #94ffa6, #a386e9);
}

